<link rel="stylesheet" href="/app.css">
<link rel="stylesheet" href="/materialize.css">

<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card" style="margin: 0 auto;position: relative; margin-top: 25vh;">
        <div class="card-content">
          <span class="card-title black-text">Search Movie</span>
          <form action="/results" method="GET">
            <div class="row">
              <div class="input-field col s12">
                <input id="search" name="search" type="text" class="validate">
                <label for="search" class="active">Movie/Series Search</label>
              <input type="submit" class="btn" value="Search">
              </div>
            </div>
          </form>

            <form action="/detailedResults" method="GET">
            <div class="row">
              <div class="input-field col s12">
                <input id="movie_title" name="movie_title" type="text" class="validate">
                <label for="movie_title" class="active">Movie Title</label>
             </div>
            <div class="input-field col s12">
                <input id="year" name="year" type="text" class="validate">
                <label for="year" class="active">Year of Movie</label>
              <input type="submit" class="btn" value="Search">
            </div>
            </div>
          </form>

        </div>
      </div>
    </div>

<script src="/materialize.js"></script>